# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css
web/files
web/js

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Others
.svn/
.travis.yml
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE.md
nbproject/
src/Acme
src/JQuero/BodaBundle
src/JQuero/WeddingBundle
